<div class="model">

    <div class="header">
        <h1>{{data.mode}} Profile Details</h1>
        <div class="example-button-container" mat-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </div>
    </div>
    <div class="body">
        <form class="example-form form" [formGroup]="detailForm">
            <mat-form-field class="example-full-width">
                <mat-label>First Name</mat-label>
                <input type="text" matInput formControlName="first" placeholder="Ex. pat@example.com">
                <mat-error
                    *ngIf="detailForm.get('first')?.hasError('required')">
                    Please enter a First Name.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input type="text" matInput formControlName="last" placeholder="Ex. pat@example.com">
                <mat-error
                    *ngIf="detailForm.get('last')?.hasError('required')">
                    Please enter a Last Name.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="text" matInput formControlName="email" placeholder="Ex. pat@example.com">
                <mat-error
                    *ngIf="detailForm.get('email')?.hasError('required') && !detailForm.get('email')?.hasError('email')">
                    Please enter a Email.
                </mat-error>
                <mat-error
                    *ngIf="detailForm.get('email')?.hasError('email') && !detailForm.get('email')?.hasError('required')">
                    Please enter a Email Formate.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Mobile</mat-label>
                <input type="number" matInput formControlName="mobile" placeholder="Ex. pat@example.com">
                <mat-error
                    *ngIf="detailForm.get('mobile')?.hasError('required')">
                    Please enter a Mobile No.
                </mat-error>
            </mat-form-field>
            <mat-label>Profile Picture</mat-label>
            <input type="file" accept="image/*" (change)="openDialog($event)" />
            <img class="img" *ngIf="img" [src]="img" width="50%" height="50%" />
            <mat-error *ngIf="detailForm.get('profile')?.hasError('required')">
                Please select a profile picture.
            </mat-error>
        </form>
    </div>
    <div class="footer">
        <div class="example-button-container">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-fab extended (click)="saveItem()">
                <mat-icon>add</mat-icon>
                Add
            </button>
        </div>
    </div>
</div>